* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.squareRow {
  display: flex;
  width: 480px;
  height: 60px;
  background-color: aqua;
}
.square {
  width: 60px;
  height: 60px;
  margin: auto;
  position: relative;
}

.white {
  background-color: #ebecd0;
}
.black {
  background-color: #779556;
}

.piece {
  width: 60px;
  height: 60px;
  margin: auto;
  /* background-color: transparent; */
  display: block;
  cursor: pointer;
}

.highlight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
