*{
    background-color: black;
    color: white;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}

.squareRow {
    display: flex;
    width: 240px;
    height: 30px;
    background-color: aqua;
}
.square{
    width: 30px;
    height: 30px;
    margin: auto;


}

.white {
    background-color:#EBECD0;
}
.black {
    background-color: #779556;
}
